/*Style da toolbar*/
.mat-toolbar{
  background-color: rgb(8, 5, 15);
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

/*Style da sidenav*/
.mat-sidenav{
  background-color: white;
}

.custom-link{
  width: 180px;
  display: flex;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: larger;
  align-items: center;

  mat-icon {
    margin-right: 10px;
  }
}

.custom-link:hover{
  background-color: black;
  color: white;
   /* transition: 100ms ease-in; */
}

.active{
  background-color: black;
  color: white;
  font-size: larger;
}

.mat-mdc-list-base {
  display: contents;
}





