<div class="container-head">
  <span></span>
  <mat-toolbar class="titulo">
    <span>{{ title }}</span>
  </mat-toolbar>

  <div>
    <input type="file" (change)="onFileChange($event)">
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="onUpload()">Upload</button>
  </div>

  <div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data Compra</th>
          <th>Tipo</th>
          <th>Nome</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>


</div>