.container-head {
  display: block;
}
.container-table{
  height: 40%;
  width: 90%;
}

.titulo {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.titulo span {
  margin-right: 10px;
}

h1 {
  font-size: 24px;
}

input {
  width: 100%;
  margin-top: 15px;
  margin-left: 15px;
}

.container-dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

button {
  width: 10%;
  height: 40px;
  margin-top: 15px;
  margin-left: 15px;
  border: 10px;
  border-radius: 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead th {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

table tbody td {
  padding: 5px 0;
  text-align: left;  
}

table tbody tr:nth-child(odd) {
  background-color: #ccc;
}

table tbody tr:hover {
  background-color: #eee;
}

