.container-head {
  display: block;
}
.container-table{
  height: 40%;
  width: 90%;
}

.titulo {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.titulo span {
  margin-right: 10px;
}

h1 {
  font-size: 24px;
}

input {
  width: 100%;
}

.container-dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
