<div class="container-head">
  <span></span>
  <mat-toolbar class="titulo">
    <span>CADASTRO DE CATEGORIAS</span>
    <button mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <mat-toolbar class="filtro">
    <mat-form-field>
      <mat-label>Digite para filtrar</mat-label>
      <input matInput #input />
    </mat-form-field>
    <mat-icon>search</mat-icon>
  </mat-toolbar>
</div>

<div>
  <h2>Tabela 1</h2>
  <app-tabela [dados]="dataset1"></app-tabela>
</div>

<div>
  <h2>Tabela 2</h2>
  <app-tabela [dados]="dataset2"></app-tabela>
</div>



