.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  background-color: rgb(8, 5, 15);
  color: white;
}

.span{
  padding: 38px;
}

.active{
  border-left: 5px solid rgb(32, 17, 17);
  color: white;
  transition: 200ms ease-in;
}
