<mat-card [ngStyle]="{'background-color': backgroundColor}">
  <mat-card-subtitle style="font-size: x-large; padding-top: 5px;">
    {{title}}
  </mat-card-subtitle>
  <mat-card-content>

    <mat-card style=" border-radius: 10px;">
      <mat-card-content [ngStyle]="{'color': color}" style="font-weight: bold; font-size: x-large; padding: 10px;">
        {{content | currency : 'BRL'}}
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>

<mat-card [ngStyle]="{'background-color': backgroundColor}">
  <mat-card-subtitle style="font-size: x-large; padding-top: 5px;">
    OBJETIVO
  </mat-card-subtitle>
  <mat-card-content>
    <mat-card style=" border-radius: 10px;">
      <mat-card-content style="font-weight: bold; font-size: x-large; padding: 10px;">
        R$ 650.230,00
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
