<ng-container>
  <mat-toolbar>
    <span>PROJETO EM CONTRUÇÃO</span>
  </mat-toolbar>
<br>

  <mat-toolbar>
        <span>Esse projeto se trata de um Dashboard para
           visualizar, analisar e organizar as movimentaçoes<br>
           da conta e as compras em cartao de credito feitas na Nubank. <br>
           Isso se trata de um projeto de uso pessoal, onde tal controle
           já é feito em uma planilha, mas aqui buscamos automatizar o processo, <br>
           lendo os relatorios disponibilizados pela propria Nubank, nao precisando ser
           lançado mais manualmente, como feito nos dias atuais</span>
  </mat-toolbar>

</ng-container>
